/* Fonts and sizes */

h1,
h3,
h4,
p,
a {
    font-family: 'Muli', sans-serif;
    color: black;
}

h1 {
    font-size: 6.7em;
    margin-bottom: 0%;
    margin-top: 0;
}

h3 {
    font-size: 4em;
    margin-top: 0%;
    margin-bottom: 0%;
}

h4 {
    font-size: 2.5em;
    margin-top: 0%;
    margin-bottom: 0%;
}

p {
    font-size: 2.3em;
}


/* Links styling */

a,
a:visited,
a:active {
    text-decoration: none;
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 0;
}

a:hover {
    text-decoration-line: underline;
}


/* Container and base of vcardsetup */

* {
    margin: 0;
}

body {
    background-image: linear-gradient(to top, #2C3A47, #6D214F);
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    position: absolute;
    bottom: 0;
    min-height: 100%;
    min-width: 100%;
}

#vcard {
    width: 71.42vw;
    height: 40vw;
    border-radius: 30px 100px;
    margin: 0.5vw auto;
    background: #CAD3C8;
}


/* Top of vCard */

#top {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#info {
    padding-left: 3%;
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
}

#pic {
    height: 100%;
    padding-top: 2%;
    padding-right: 4%;
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

#pic>img {
    border-radius: 50%;
}


/* Bottom of vCard */

#bottom {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    ;
}

.link {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 3%;
}

#quote {
    /* height: 100%; */
    display: flex;
    align-items: center;
}

#links {
    height: 100%;
    width: 20%;
    margin-right: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.link a {
    display: flex;
    flex-direction: row;
}

.link>img {
    border-radius: 50%;
    background-color: whitesmoke;
}

#qr {
    display: flex;
    justify-content: flex-start;
}

#qrimg {
    border-radius: 10%;
    margin-left: 10%;
}