@import url('https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap');

/*Removing ugly borders*/

body,
h1 {
    margin: 0;
}


/* Fonts, color + size of texts*/

h1,
p,
a,
h3,
h4,
h5 {
    font-family: 'Noto Sans HK', sans-serif;
    color: whitesmoke;
}

h3 {
    font-size: 3em;
}


/*Wrapper setup for sticky footer*/

#wrapper {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/*header + body background + Title height+ color*/

body {
    background-image: linear-gradient(to top left, #778beb, #f8a5c2);
    height: 100%;
}

header {
    background-image: linear-gradient(to bottom right, #778beb, #f8a5c2);
}

#title {
    height: 100px;
}

h1 {
    font-size: 6em;
    color: whitesmoke;
}


/* Menu style */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #596275;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

#der {
    float: right;
}

li {
    float: left;
}


/*Main display + content of page */

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
}

#content {
    justify-content: flex-start;
    padding-left: 3%;
}


/* Style of the quote */

#qsource {
    display: flex;
    justify-content: flex-end;
}

#qsource>a {
    margin-top: 0;
    font-size: 2em;
    padding-right: 5vh;
    text-decoration: none;
}


/*Padding for video*/

article {
    width: 20%;
}

iframe {
    padding-bottom: 3%;
}

h5 {
    margin-left: 3%;
    margin-top: 0;
    padding-bottom: 2%;
}

aside {
    width: 20%;
}


/* Footer style */

footer {
    margin-top: 2vh;
    height: 4vh;
    display: flex;
    background-color: #596275;
    justify-content: space-around;
    right: 0;
    left: 0;
    position: absolute;
    bottom: 0;
    align-items: center;
}